@model EmployeeViewModel

@if (TempData["message"] != null)
{
    <vc:toaster message=@TempData["message"] , toaster-type="@((ToasterType)TempData["toasterType"])" />
}

<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Employee</h3>
</div>

<div class="row">
    <div class="col-lg-8 col-xl-9">

        <div class="card shadow mb-4">

            <div class="card-header">
                <p class="text-black-50 m-0 font-weight-bold">@Model.Action</p>
            </div>

            <div class="card-body">

                <form id="editForm" asp-action="@Model.Action" method="post">
                    <div class="form-group">
                        <input class="form-control" asp-for="ReturnUrl" hidden />
                    </div>

                    <div class="row">
                        <div class="col-md-3 position-relative">
                            <div class="mb-3">
                                <label asp-for="Employee.Id"></label>
                                <input class="form-control form-control-sm" asp-for="Employee.Id" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md position-relative">
                            <div class="form-floating mb-3">
                                <input class="form-control form-control-sm" asp-for="Employee.FirstName" readonly="@Model.ReadOnly" placeholder="FirstName" />
                                <label asp-for="Employee.FirstName"></label>
                                <div>
                                    <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md position-relative">
                            <div class="form-floating mb-3">
                                <input class="form-control form-control-sm" asp-for="Employee.LastName" readonly="@Model.ReadOnly" placeholder="LastName" />
                                <label asp-for="Employee.LastName"></label>
                                <div>
                                    <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md position-relative">
                            <div class="form-floating mb-3">
                                <input class="form-control form-control-sm" asp-for="Employee.DocId" readonly="@Model.ReadOnly" placeholder="DocId" />
                                <label asp-for="Employee.DocId"></label>
                                <div>
                                    <span asp-validation-for="Employee.DocId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md position-relative">
                            <div class="form-floating mb-3">
                                <input class="form-control form-control-sm" asp-for="Employee.PhoneNumber" readonly="@Model.ReadOnly" placeholder="Phone Number" />
                                <label asp-for="Employee.PhoneNumber"></label>
                                <div>
                                    <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md position-relative">
                            <div class="form-floating mb-3">
                                <input class="form-control form-control-sm" asp-for="Employee.EmailAddress" readonly="@Model.ReadOnly" placeholder="Email Address" />
                                <label asp-for="Employee.EmailAddress"></label>
                                <div>
                                    <span asp-validation-for="Employee.EmailAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md position-relative">
                            <div class="form-floating mb-3">
                                <select asp-for="Employee.EmployeeDepartmentId" class="form-select" disabled="@Model.ReadOnly"
                                        asp-items="@(new SelectList(Model.EmployeeDepartment, "Id", "Name"))">
                                    <option value="" disabled selected>Choose a Department</option>
                                </select>
                                <label asp-for="Employee.EmployeeDepartmentId">Department</label>
                                <div>
                                    <span asp-validation-for="Employee.EmployeeDepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.ShowAction)
                    {
                        @if (Model.ShowCreateNewAction)
                        {
                            <a asp-action="Create" class="btn btn-sm btn-primary" asp-route-returnurl="@Model.ReturnUrl">
                                <i class="fas fa-plus fa-lg text-white-50"></i>
                                Create New
                            </a>
                        }

                        <button id="btnFetch" class="btn btn-sm btn-@Model.Theme text-white" type="submit">
                            <i class="fas fa-save fa-lg text-white-50"></i>
                            @Model.Action
                        </button>
                    }

                    <a class="btn btn-sm btn-secondary" href="@Model.ReturnUrl">
                        <i class="fas fa-times fa-lg text-white-50"></i>
                        Close
                    </a>
                </form>

            </div>

        </div>

    </div>

    <div class="col-lg-4 col-xl-3">
        <vc:edit-audit entity=@Model.Employee />
    </div>
</div>




